##############################
# Go build artifacts
##############################

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/

##############################
# Go workspace files
##############################

go.work
go.work.sum

##############################
# Dependency directories
##############################

# Убери комментарий, если используешь vendor
# vendor/

##############################
# IDE/editor settings
##############################

.vscode/
.idea/

##############################
# System files
##############################

**/.DS_Store

##############################
# Logs and config files
##############################

.env
*.log
/log
settings.yaml

##############################
# Go module files (опционально)
##############################